body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    /* margin-left: 50px; */
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(230, 224, 224);
    /* outline: 1px solid black; */
}

.grid div{
    height: 20px;
    width: 20px;
    outline: 0.1px solid grey;
    /* background-color: red; */
}

.tetromino{
    background-color: blue;
}

.mini-grid{
    margin-left: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    outline: 1px solid black;
    /* border: none !important; */
}

.mini-grid div{
    height: 20px;
    width: 20px;
    outline: 0.1px solid grey;
}
#start-button{
    background-color: cadetblue;
    outline: none;
    padding: 5px ;
    border: none;
    cursor: pointer;
}